.custom-modal .ant-modal-content {
    background-color: #27272a; 
  }
  
  
  .custom-modal .ant-modal-header {
    background-color: #d1c7c7;
  }
  
  .custom-modal .ant-modal-body {
    background-color: #27272a;
  }
  
  .custom-modal .ant-modal-close-x {
    color: white; 
  }
  .number-sub:hover hr{
    visibility: hidden;


  }
  .linkdin-sub:hover hr{
    visibility: hidden;

  }
  .email-sub:hover hr{
    visibility: hidden;

  }
  .address-sub:hover hr{
    visibility: hidden;

  }