@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: red;
  --background-start-rgb: red;
  --background-end-rgb: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: red;
    --background-start-rgb: red;
    --background-end-rgb: black;
  }
}

body {
  background-color: rgba(27, 31, 34, 0.85);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
